@font-face {
    font-family: "Itim";
    src: url("fonts/Itim/Itim-Regular.ttf")
}

@font-face {
    font-family: "Fancy";
    src: url("fonts/Lavishly_Yours/LavishlyYours-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: rgb(0, 0, 0, 0.9);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

img {
    padding: 2em;
    margin: auto;
    width: 70%;
    height: auto;
}


h1,
h2,
h3,
footer,
footer>a,
article,
label {
    color: rgb(235, 228, 228);
    text-decoration: none;
    font-family: "Itim";
}

h1 {
    margin: 0;
    font-family: 'Fancy';
    font-size: 2.2em;
}

nav {
    font-family: "Fancy";
    font-size: 1.8em;
    line-height: 1.7em;

}

article {
    text-align: center;
    margin: 1em;
    font-size: 1.1em;
}

p {
    font-family: "Itim";
    font-weight: lighter;
    font-size: 1.1em;
    line-height: 1.3em;
    margin-top: 0.5em;
}

h1>a:link,
h1>a:visited {
    color: var(--accent-color);
    text-decoration: none;
}


h2>a:link {
    color: var(--accent-color);
    text-decoration: none;
}

header {
    background-color: black;
    height: 3em;
    position: sticky;
    top: 0;
}

svg.menu {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    top: 1em;
    right: 1em;
}

svg.menu:hover {
    cursor: pointer;
}

nav {
    display: none;
    flex-direction: column;
}

nav>a {
    color: white;
    text-decoration: none;
}

nav>a:hover {
    color: grey
}

/* class styles  applied with JS */
nav.expand {
    visibility: visible;
    display: flex;
}

header.expand {
    height: 12em;
}




footer {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;

}

footer>a:hover {
    color: lightgray;
}



/* contact  */

header {
    padding: 1em;
}

label {

    display: flex;
    flex-direction: column;

    align-items: center;

    padding: 1em;
    font-size: 20px;
}

input {
    width: 10em;
    height: 2em;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 5%;
    width: 50%;
    height: 50%;

}

input {
    margin: auto;
}




.project {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-left: 15%;
}

.project>a:hover {
    opacity: 0.8;
}

.moth,
.camera {
    display: flex;
    flex-direction: column;
}





@media (min-width: 45em) {



    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: row;
        opacity: 1;
        transition: opacity 800ms;
    }


    main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #myself {
        width: 50%;
        height: auto;
    }


    article {
        scroll-margin-top: 4.5em;
        text-align: left;
    }

    header.expand {
        height: 2.5em;
    }

    svg.menu {
        display: none;
    }

    nav>a {
        margin-left: 1em;
    }

    header.toggle {
        height: 2.5em;
    }

    section {
        display: flex;
        flex-direction: row;
    }

    .project {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
    }


    .moth,
    .camera {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;

    }

}

@media only screen and (prefers-color-scheme:light) {
    body {
        background-color: rgb(204, 204, 163);
    }

    header {
        background-color: rgb(197, 197, 173);
    }


    h1,
    h2,
    h3,
    nav>a,
    article,
    footer,
    footer>a,
    label,
    input {
        color: black;
        text-decoration: none;
    }

    h1>a:hover,
    h2>a:hover,
    nav>a:hover,
    footer>a:hover {
        color: antiquewhite;
    }

    h2>a {
        color: rgb(133, 127, 127);
    }




}